

<h3 mat-dialog-title>Employe Form</h3>
<mat-dialog-content class="mat-typography">
  <form [formGroup]='EmpForm' >
    <div class="form-group">
      <label for="email">id</label>
      <input type="number" class="form-control" formControlName="id" >
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label >Department</label>
      <!-- <input type="text" class="form-control" formControlName="mobileno"> -->
      <ng-multiselect-dropdown
      [placeholder]="'custom placeholder'" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [required]='requiredField' [ngClass]='setClass()'
      name='countrySelect'>
     </ng-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label for="phonenumber">isActive</label>
      <input type="number" class="form-control" formControlName="">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
